body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    color: #3A4D39;
    background-color: #ecf6eb;
}

header h4 {
    color: #3A4D39;
    margin-top: 32px;
}

header p{
    font-size: smaller;
    margin-top: 0px;
    color: #739072;
    margin-bottom: 20px;
}

.inputSection {
    display: flex;
    flex-direction: column;
}

#squareSide {
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: solid #739072;
    padding: 10px;
}

#squareSide:focus {
    border: solid #3A4D39;
}

button {
    background-color: #739072;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #3A4D39;
}

button:active {
    background-color: #0f1b0f;
    transform: translateY(2px);
}